.tile {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin: 2px;
  border-radius: 20%;
  background-color: rgb(160, 158, 158);
  box-shadow: 2px 2px 1px rgb(167, 165, 165);
}

.img {
  border-radius: inherit;
}

.tile_closed {
  composes: tile;
  cursor: default;
}
